NODE_ENV=development
PORT=4002
CORS_ORIGIN=http://localhost:3000

RABBITMQ_URI=amqp://localhost:5672
RABBITMQ_EXCHANGE=notifications.direct
RABBITMQ_EMAIL_QUEUE=email.queue
RABBITMQ_DEAD_LETTER_QUEUE=failed.queue
RABBITMQ_PREFETCH=5

USER_SERVICE_URL=http://user-server:4001/api/v1
TEMPLATE_SERVICE_URL=http://template-server:4003/api/v1
USER_SERVICE_TIMEOUT_MS=5000
TEMPLATE_SERVICE_TIMEOUT_MS=5000

EMAIL_FROM=no-reply@example.com
EMAIL_PROVIDER=smtp
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=false
SMTP_USERNAME=
SMTP_PASSWORD=

