NODE_ENV=development
PORT=4004
CORS_ORIGIN=http://localhost:3000
# amqp://localhost:5672
RABBITMQ_URI= amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=notifications.direct
RABBITMQ_PUSH_QUEUE=push.queue
RABBITMQ_DEAD_LETTER_QUEUE=failed.queue
RABBITMQ_PREFETCH=10

USER_SERVICE_URL=http://localhost:5001/api/v1
TEMPLATE_SERVICE_URL=http://localhost:5001/api/v1
# USER_SERVICE_URL=http://localhost:4001/api/v1
USER_SERVICE_TIMEOUT_MS=5000
# TEMPLATE_SERVICE_URL=http://localhost:4003/api/v1
TEMPLATE_SERVICE_TIMEOUT_MS=5000

PUSH_PROVIDER=fcm
FIREBASE_PROJECT_ID=34567890
FIREBASE_SERVICE_ACCOUNT_JSON={"type": "service_account", "project_id": "","private_key_id": "","private_key": "","client_email": "","client_id": "","auth_uri": "","token_uri": "","auth_provider_x509_cert_url": "","client_x509_cert_url": "","universe_domain": ""}

# Alternatively provide a path to a service account file
# FIREBASE_SERVICE_ACCOUNT_PATH=/path/to/serviceAccount.json

