NODE_ENV=development
PORT=4004
CORS_ORIGIN=http://localhost:3000

RABBITMQ_URI=amqp://localhost:5672
RABBITMQ_EXCHANGE=notifications.direct
RABBITMQ_PUSH_QUEUE=push.queue
RABBITMQ_DEAD_LETTER_QUEUE=failed.queue
RABBITMQ_PREFETCH=10

USER_SERVICE_URL=http://user-server:4001/api/v1
TEMPLATE_SERVICE_URL=http://template-server:4003/api/v1
USER_SERVICE_TIMEOUT_MS=5000
TEMPLATE_SERVICE_TIMEOUT_MS=5000

PUSH_PROVIDER=fcm
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_SERVICE_ACCOUNT_PATH=
FIREBASE_PROJECT_ID=
